/* フォント指定 */

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");
body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: whitesmoke;
}

/* 画像のレスポンシブ対応 */

img {
  width: auto;
  max-width: auto;
  height: auto;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: #ffffff;
  padding: 1em;
  margin: 0;
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
}

box {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: #ffffff;
  padding: 1em;
  margin: 0;
}

h5 {
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1.3rem);
  color: #008b8b;
}

#TextDeta {
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
}

.TextDeta {
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
}

.TaxtList {
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
}

/* ====================================================== */

mark1 {
  background-color: #f08080;
}

mark2 {
  background-color: #ffff00;
}

mark3 {
  background-color: #00ff7f;
}

mark4 {
  background-color: paleturquoise;
}

mark5 {
  background-color: skyblue;
}

mark6 {
  background-color: thistle;
}

mark7 {
  background-color: skyblue;
}

mark8 {
  background-color: cornflowerblue;
}

/* ====================================================== */

#tabs {
  overflow: hidden;
}

#tabs input {
  display: none;
}

#tabs label {
  display: inline-block;
  line-height: 40px;
  width: 110px;
  text-align: center;
  cursor: pointer;
  background: #eee;
  transition: 0.3s;
  border-radius: 10px 10px 0 0;
}

#tabs input:checked + label,
#tabs label:hover {
  background: #56b4be;
  color: #fff;
}

#contents {
  padding: 5px 10px;
  border-top: 2px solid #56b4be;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#contents p {
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
  margin: 0;
}

#contents p.title {
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1.3rem);
  font-weight: bold;
}

/* ====================================================== */

.c-button {
  display: inline-block;
  max-width: auto;
  text-align: left;
  background-color: #56b4be;
  font-size: auto;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 24px;
  border-radius: 4px;
  border-bottom: 4px solid hsl(186, 38%, 46%);
}

.c-button:active {
  transform: translateY(4px);
  border-bottom: none;
}

.manual {
  color: #56b4be;
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1.3rem);
}

.ResText {
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
}


.my-parts {
  text-align: left;
}
.my-parts input[type="checkbox"] {
  display: none;
}
.my-parts input[type="checkbox"] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.7em;
  margin: 0 .2em 0;
  cursor: pointer;
  font-size: 16px;
}
.my-parts input[type="checkbox"] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(0);
  background: #333;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  display: block;
  transition: all 0.5s ease-in-out;
}
.my-parts input[type="checkbox"] + span::after {
	position: absolute;
	content: "";
	top: 50%;
	left: 0.25em;
	transform: translateY(-50%) rotate(-45deg);
	width: 1em;
	height: 0.6em;
	margin-top: -0.2em;
	display: block;
	border-left: 0.1875em solid #fff;
	border-bottom: 0.1875em solid #fff;
	transition: all 0.5s ease-in-out;
	opacity: 1;
}
.my-parts input[type="checkbox"]:checked + span {
	padding-left: 2em;
}
.my-parts input[type="checkbox"]:checked + span::before {
	width: 1.8em;
	height: 1.8em;
	transform: translateY(-50%) rotate(-360deg);
	background: #F44336;
}
.my-parts input[type="checkbox"]:checked + span::after {
	transform: translateY(-50%) rotate(-405deg);
	width: 1.3em;
	height: .9em;
  }