<!doctype html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138258869-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-138258869-1');
    </script>

    <!-- Vue を読み込む -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <!--文字エンコーディングの指定-->
    <meta charset="utf-8">

    <!--サイト情報-->
    <!--サイト情報-->
    <meta property="og:site_name" content="読みやすさチェッカー" />
    <meta property="og:title" content="「マークダウン記法」を「Wordpressのコード」へ置換するツール | 俺のテキスト置換ツール" />
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://readability-checker.khufrudamonotes.com/to-markdown" />
    <meta property="og:locale" content="ja_JP" />

    <!-- 画像情報 -->
    <meta property="og:image" content="https://readability-checker.khufrudamonotes.com/img/to-markdown_thumbnail.png" />
    <meta name="twitter:image"
        content="https://readability-checker.khufrudamonotes.com/img/to-markdown_thumbnail.png" />

    <!--ページタイトル-->
    <title>「マークダウン記法」を「Wordpressのコード」へ置換するツール | 俺のテキスト置換ツール</title>

    <!--ページの概要-->
    <meta property="description" content="「マークダウン記法」を「Wordpressのコード」に変換するツールです。">
    <meta property="og:description" content="「マークダウン記法」を「Wordpressのコード」に変換するツールです。">
    <meta name="keyword" content="マークダウン記法,Wordpress,Gutenberg,テキスト置換">

    <!--Internet Explorer用の設定-->
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <!--viewport設定(レスポンシブデザイン対応)-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--OGPタグ/Facebook-->
    <meta property="fb:app_id" content="1715157832011699">

    <!--OGPタグ/twitterカード-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@khufrudamonotes" />
    <meta name="twitter:title" content="「マークダウン記法」を「Wordpressのコード」へ置換するツール | 俺のテキスト置換ツール" />
    <meta property="twitter:description" content="「マークダウン記法」を「Wordpressのコード」に変換するツールです。">

    <!--サイトアイコンの指定-->
    <meta name="msapplication-square70x70logo" content="./img/icon/site-tile-70x70.png">
    <meta name="msapplication-square150x150logo" content="./img/icon/site-tile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="./img/icon/site-tile-310x150.png">
    <meta name="msapplication-square310x310logo" content="./img/icon/site-tile-310x310.png">
    <meta name="msapplication-TileColor" content="#0078d7">

    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="./img/icon/favicon.ico">
    <link rel="icon" type="image/vnd.microsoft.icon" href="./img/icon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="./img/icon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./img/icon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./img/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./img/icon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./img/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./img/icon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./img/icon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./img/icon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./img/icon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="36x36" href="./img/icon/android-chrome-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="./img/icon/android-chrome-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="./img/icon/android-chrome-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./img/icon/android-chrome-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="./img/icon/android-chrome-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="./img/icon/android-chrome-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="./img/icon/android-chrome-152x152.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./img/icon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="256x256" href="./img/icon/android-chrome-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="./img/icon/android-chrome-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="./img/icon/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="36x36" href="./img/icon/icon-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="./img/icon/icon-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="./img/icon/icon-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./img/icon/icon-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="./img/icon/icon-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="./img/icon/icon-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="./img/icon/icon-152x152.png">
    <link rel="icon" type="image/png" sizes="160x160" href="./img/icon/icon-160x160.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./img/icon/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="196x196" href="./img/icon/icon-196x196.png">
    <link rel="icon" type="image/png" sizes="256x256" href="./img/icon/icon-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="./img/icon/icon-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="./img/icon/icon-512x512.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/icon/icon-16x16.png">
    <link rel="icon" type="image/png" sizes="24x24" href="./img/icon/icon-24x24.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/icon/icon-32x32.png">
    <link rel="manifest" href="./img/icon/manifest.json">

    <!-- AdSense コード -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1796975428667007"
        crossorigin="anonymous"></script>

    <!-- headのコンポーネントを読み込む -->
    <div id="head">
        <head-template></head-template>
    </div>

    <!--bootstrap を読み込む-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <div class="container">

        <!-- ヘッダーのコンポーネントを読み込む -->
        <header id="header">
            <header-template></header-template>
        </header>

        <!-- メイン -->
        <main>

            <!-- 見出しのコンポーネントを読み込む -->
            <div id="oreDisplay">
                <ore-title-display></ore-title-display>
            </div>

            <div class="Larger shadow p-3 rounded pb-2 m-3">
                <h3>「マークダウン記法」を「Wordpressのコード」へ置換するツール</h3>
            </div>

            <!-- タブの中身 -->
            <div id="tabBox" class="py-3 m-2">

                <!-- タブの切り替えボタン -->
                <div id="tabs">
                    <input type="radio" value="1" id="tab1" v-model="isActive"></input>
                    <label for="tab1">ガイド</label>
                </div>

                <div id="contents">
                    <!-- タブ1の中身 -->
                    <div v-if="isActive == '1'">
                        <!-- 画面がタブレット端末以上の場合の説明テキスト -->
                        <lu class="pb-2 m-2">
                            <p class="pb-2">「<b>マークダウン記法</b>」のテキストを、「<b>Wordpressコードエディター</b>」へ変換します。</p>
                            <p class="pb-2">※一部たまに上手くいかない可能もあります。</p>
                        </lu>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- ここから分割されたページの左側 -->
                <div class="col-md-6">

                    <div class="Larger shadow p-3 rounded pb-2 m-3">
                        <h5>テキストを貼り付けてください。</h5>
                    </div>

                    <!-- 入力テキストエリア -->
                    <TEXTAREA id="textarea" cols="80" rows="15" placeholder="ここにテキストを入力してください。">
#はじめに

僕は、何かを「**難しい/分からない**」と感じる原因の多くは「**専門用語の意味を知らないから**」だと思っています。

だから、知らないトピックを勉強するときは、まず最初に**専門用語**の収集から始めています。

この記事は、そんな"**マイ専門用語集**"※をそのままシェアした内容です。

※この自分なりにググった内容をまとめて要約したものです。
※間違っている部分があったら、教えていただけると幸いです。

ちょくちょく**ネットワーク**や**TCP/IP**について勉強していこうと思っているので、恐らく随時更新されます。

#マイ専門用語集(**ネットワーク・TCP/IP**関係)


#ネットワーク
<img src="https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/486558/5584806a-bc76-3e75-1b0b-2b554ab9f94e.png"
    width="150">

複数のコンピュータ同士を接続し、相互に通信を行わせるため仕組み。
コンピュータ1台ではできない仕事をさせるのが目的。

##近くのコンピュータ同士を接続する

コンピュータ同士を**ケーブル**を使って物理的に接続すれば、**ネットワーク**（この場合は**LAN**）を構築できる。
2台以上のコンピュータも、**スイッチングハブ**を使えば接続できる。

しかし、これだけでは世界中のコンピュータを接続した大規模な**ネットワーク**は作れない。

###**LAN（ローカル・エリア・ネットワーク）**

<img src="https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/486558/8a65d7d8-bac8-1f40-dcc5-ab712c7a45ae.png"
    width="150">

「狭い範囲のネットワーク」のこと。

- 家庭内LAN　…家庭内で使用するネットワーク
- 社内LAN　…会社内で使用するネットワーク

など。

###Ethernet（イーサネット）
コンピュータや電子機器をケーブルで繋いで通信する**有線LAN**の規格の一つ。
最も普及している。

**LANケーブル**の規格もコレ。
<img src="https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/486558/b392e40e-60d6-dca2-19ba-b3969cd87b54.png"
    width="150">


####スイッチングハブ

<img src="https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/486558/87562f88-1df4-78b3-2dbb-05346eeca22c.png"
    width="150">

**イーサネット**の**ネットワーク**を構成したり拡張したりするハブ（集線装置）。
こんな感じ↓のケーブルをたくさん挿せるやつ。

https://www.amazon.co.jp/%E3%80%90Amazon-co-jp%E9%99%90%E5%AE%9A%E3%80%91TP-Link-%E3%82%B9%E3%82%A4%E3%83%83%E3%83%81%E3%83%B3%E3%82%B0%E3%83%8F%E3%83%96-1000Mbps-%E3%83%A9%E3%82%A4%E3%83%95%E3%82%BF%E3%82%A4%E3%83%A0%E4%BF%9D%E8%A8%BC-TL-SG105V4-0/dp/B00A128S24?pd_rd_w=pLPnZ&pf_rd_p=2a1107bd-12d7-491a-b20d-ebdadf92e435&pf_rd_r=68J2ZMCNATNF0XX3CB9Q&pd_rd_r=2c42493f-e33f-4145-b47e-f393871777e5&pd_rd_wg=vInOY&pd_rd_i=B00A128S24&linkCode=ll1&tag=khufrudamon09-22&linkId=e3cd187bb495d15e0ffa1162b6136dc2&language=ja_JP&ref_=as_li_ss_tl

**スイッチングハブ**同士も接続できる。


##遠隔地のコンピュータ同士を接続する

###WAN（ワイド・エリア・ネットワーク）
「広い範囲のネットワーク」のこと。
点在する**LAN**と**LAN**を結ぶ公衆網。
**WAN**を世界規模で実現しているのが**インターネット**。

###ルーター
<img src="https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/486558/d0f38ec5-6826-8807-4359-294a91a5fa68.png"
    width="150">

データを2つ以上の異なる**ネットワーク**間に中継する通信機器。
そして、ルーター同士は**デジタル専用線**などで接続されている。

###デジタル専用線
**ISP**が提供している**WAN**サービス。
銅線や**光ファイバー**を使い、2つの拠点間を接続する。

###**ISP（インターネット・サービス・プロバイダー）**
<img src="https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/486558/b6b04c95-dd2d-c380-b2ba-472907653a68.png"
    width="150">

インターネット接続の電気通信役務を提供する組織。
電気通信事業者。**プロバイダ**とも。

####光ファイバー（オプティカル・ファイバー）
透過率の高い石英ガラスやプラスチックなどで作られた光の伝送路。
デジタル通信を中心に多くの通信用途に使用されている。


#インターネット
<img src="https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/486558/5584806a-bc76-3e75-1b0b-2b554ab9f94e.png"
    width="150">

複数のコンピュータネットワークを相互接続した、地球規模の情報通信網。

###イントラネット（intranet）
インターネットに対して、企業や研究所など内部ネットワークのこと。
イントラは「内部の」という意味。

####エクストラネット（Extranet）
複数の**イントラネット**を相互接続したネットワークのこと。
「**アウターネット**」ともいう。


#TCP/IP
<img src="https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/486558/a62ae0bf-c810-64d8-75ec-87e220f0d7c0.png"
    width="150">

**TCP**と**IP**を中心にした**プロトコル**のセットのこと。

それぞれ

- **TCP（トランスミッション・コントロール・プロトコル）**
- **IP（インターネット・プロトコル）**

の略称。


###プロトコル

コンピュータ同士が データをやり取りするためのルール（手順や規約）。
ネットワーク通信における決まり事。
**TCP/IP**のほとんどは、**RFC**にまとめられている。


###RFC（リクエスト・フォー・コメンツ）

インターネット技術の標準的な仕様を記した文書。
インターネットに関する標準化団体の**IETF（インターネット・エンジニアリング・タスク・フォース）**が発行している。

https://ja.wikipedia.org/wiki/Internet_Engineering_Task_Force

###プロトコルスタック
通信における**プロトコル**を役割ごとにまとめたもの。
「ネットワーク・アーキテクチャ」や「プロトコル・スイート」とも呼ばれる。

https://ja.wikipedia.org/wiki/%E3%83%97%E3%83%AD%E3%83%88%E3%82%B3%E3%83%AB%E3%82%B9%E3%82%BF%E3%83%83%E3%82%AF


###TCP/IP 4階層モデル

https://thinkit.co.jp/story/2015/04/30/5800

TCP/IPの通信は大きく**4つの機能階層**に分けられ、それぞれに**プロトコル**がある。

---

- **レイヤ1 : アプリケーション層**
具体的なシステムやサービスに必要な機能を実装するための層。
担当するソフトウェアは、アプリケーション。

- **HTTP（ハイパーテキスト・トランスファー・プロトコル）**　…Webアクセスに使われる。
- **POP（ポスト・オフィス・プロトコル）**　…電子メールのやり取りに使われる。
- **SMTP（シンプルメール・トランスファー・プロトコル）**　…電子メールのやり取りに使われる。

---

- **レイヤ2 : トランスポート層**
データの送信元と送信先の間での制御や通知、交渉などを担う層。
担当するソフトウェアは、オペレーティングシステム。

- **TCP（トランスミッション・コントロール・プロトコル）** …信頼性の高い通信を提供する。
- **UDP（ユーザ・データグラム・プロトコル）**　…高速性の高い通信を提供する。

---

- **レイヤ3 : ネットワーク層（インターネット層）**
異なるネットワーク間で通信をするための層。**IPアドレス**を認識して通信を行う層。
担当するソフトウェアは、オペレーティングシステム。

- **IP（インターネット・プロトコル）**　…**IPアドレス**を使用して**エンドツーエンド**の通信を可能にする。。
- **ARP（アドレス・レゾリューション・プロトコル）**　…**IPアドレス**から**MAC**アドレスを特定する。
- **ICMP（インターネット・コントロール・マネージ・プロトコル）**　…IPの補佐役。通信状況やエラーを通知する。

---

- **レイヤ4 : リンク層（ネットワークインターフェース層）**
回線やネットワークで物理的に繋がれた二台の機器の間でデータの受け渡しを行う層。
担当するソフトウェアは、ドライバ。

- **PPP**（ポイント・トゥー・ポイント・プロトコル）2台の機器の間で仮想的な伝送路を確立して通信するためのプロトコル。
- **イーサネット** …コンピュータや電子機器をケーブルで繋いで通信する有線LANの規格。
- **Wi-Fi** …無線で通信する端末がお互いに接続可能になる方式（規格）


---

####**MACアドレス**
そのコンピュータ機器のネットワークインターフェイスが持つハードウエア固有の番号。
「物理アドレス」「イーサネット・アドレス」などとも。

####**IPアドレス**
**ネットワーク層**における識別用の番号。「論理アドレス」とも。
IPのバージョンに応じて、**IPv4アドレス**と**IPv6アドレス**がある。

https://ja.wikipedia.org/wiki/IP%E3%82%A2%E3%83%89%E3%83%AC%E3%82%B9

####アプリケーション
ある特定の機能や目的のために開発・使用されるソフトウェア。
コンピュータの操作自体には関わらない。

####オペレーティングシステム
コンピュータの操作を司るシステムソフトウェア。
**OS**とも。

####ドライバ
パソコンに接続されている周辺装置（デバイス）を**OS**によって制御するプログラム。

####エンドツーエンド(E2E)
データの送信元と宛先を結ぶ通信経路全体を指す



##PDU（プロトコル・データ・ユニット）
データ通信において、ある**プロトコル**が扱うひとまとまりのデータの送受信単位のこと。

- ヘッダ …通信プロトコルで定義された制御情報部分
- ペイロード …通信データの中身

からなっている。

具体的な呼び名は、**プロトコル**によって異なる。

- レイヤ1 : アプリケーション層　…メッセージ
- レイヤ2 : トランスポート層 …TCPでは**TCPセグメント**、UDPでは**データグラム**。
- レイヤ3 : ネットワーク層（インターネット層） …**パケット**、(IPデータグラム)
- レイヤ4 : リンク層（ネットワークインターフェース層） …**フレーム**

#Webサーバー
<img src="https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/486558/092628c3-295b-95b0-7068-b0c1043cfe30.png"
    width="150">
パソコンやスマートフォンなどの端末から**HTTP/HTTPS**で送られたリクエストに対して**HTML**、**CSS**、**JavaScript**などの情報を返す役割を持った**ソフトウェア**。

###DNSサーバー
DNSは、ドメイン・ネーム・システムの略。
**ドメイン名**と**IPアドレス**を変換する仕組みを提供するサーバー。

####DNSルートサーバー
**DNSキャッシュサーバー**が最初に問い合わせをするサーバー。
世界中に13機しかない。

####DNSキャッシュサーバー
ドメイン名に対応する**IPアドレス**情報が一時的に保存されているサーバー。
PCより以前と同じ問い合わせがあった場合には、自身でPCに**IPアドレス**を回答できる。

- DNSサーバーの仕組み全体のスピードアップ化
- DNSルートサーバーの負担軽減

に寄与している。

###プロキシサーバー
**インターネット**に直接接続できないコンピューターに代わり、Webサイトへのアクセスなどを行うサーバー。

ネットワーク内におけるインターネットの出入り口を**プロキシサーバー**経由に限定すると、

- 外部からの不正アクセスを防止。
- 業務と関係のないWebサイトへのアクセスを禁止。
- **キャッシュ機能**（データを蓄えておく機能）で、誰かがアクセスしたサイトの素早くデータを返す。

などが可能になるので、会社内などで使われる。プロキシ（Proxy）は英語で「代理」の意味。

###VPS（バーチャル・プライベート・サーバー）
仮想的なサーバー。
一台の物理的なサーバー上に仮想的なサーバーを何台も起動して作られている。
大元の物理サーバーに障害が発生した場合、そのサーバーを利用しているVPSユーザー全てが影響を受ける。

#URL（ユニフォーム リソース ロケータ）
「統一資源位置指定子」とも。
インターネット上にあるホームページやファイルの位置や情報を示すもの。

https://developer.mozilla.org/ja/docs/Learn/Common_questions/What_is_a_URL



#主な参考ページ

https://www.youtube.com/playlist?list=PLXXalsdlzX-J7AUuw2zSHit5nRUZ3eDdz

https://www.youtube.com/playlist?list=PL3PnJ18ZwZnfu6Gd8lbvIIcMsdYHsujsG

https://ascii.jp/elem/000/000/424/424788/

https://atmarkit.itmedia.co.jp/ait/articles/0804/14/news106.html

https://www.panduit.co.jp/column/naruhodo/9237/

https://www.otsuka-shokai.co.jp/words/wan.html#:~:text=WAN%E3%81%A8%E3%81%AF,%E3%81%AE%E3%81%8C%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%8D%E3%83%83%E3%83%88%E3%81%A7%E3%81%82%E3%82%8B%E3%80%82

https://www.kagoya.jp/howto/it-glossary/domain/dns-server/

https://www.t3a.jp/blog/it-all/dns-rootserver/

https://www.internetacademy.co.jp/trends/it-strategy/what-is-server-introductory.html


                    </TEXTAREA>

                </div>

                <!-- ここから分割されたページの右側 -->
                <div class="col-md-6">
                    <div class="Larger shadow p-3 rounded pb-2 m-3">
                        <h5>変換後のテキストを表示します</h5>
                    </div>

                    </label>
                    <!-- 修正後テキスト -->
                    <div id="box" contenteditable=False class="TextData">
                        <img src="./img/loading-black.svg" alt="ローディング待機画像" width="300">読み込み中…
                        <div id="ExampleTextButton">
                        </div>
                    </div>

                    <div>

        </main>

        <!-- フッターのコンポーネントを読み込む -->
        <footer id="footer">
            <right-column></right-column>
            <footer-template></footer-template>
            <copyright-text></copyright-text>
        </footer>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <!-- JavaScriptを読み込む-->
    <script src="js/Vue.js"></script>
    <script src="js/replace.js"></script>

    <!-- シェアボタン用のJavaScript -->
    <!-- Twitter -->
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- facebook -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v11.0"
        nonce="s28FkDyH"></script>
    <!-- note -->
    <script async src="https://cdn.st-note.com/js/social_button.min.js"></script>
    <!-- はてなブックマーク -->
    <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8"
        async="async"></script>
    <!-- Pocket -->
    <script
        type="text/javascript">!function (d, i) { if (!d.getElementById(i)) { var j = d.createElement("script"); j.id = i; j.src = "https://widgets.getpocket.com/v1/j/btn.js?v=1"; var w = d.getElementById(i); d.body.appendChild(j); } }(document, "pocket-btn-js");</script>
    <!-- Line -->
    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async"
        defer="defer"></script>

    <!--ページのロードが終了したときに実行される関数 -->
    <script>
        //文章が入力・変更されたときに実行する
        window.addEventListener('DOMContentLoaded', function () {
            // input要素を取得
            let input_name = document.getElementById("textarea")
            ToWordPress();

            // イベントリスナーでイベント「input」を登録
            input_name.addEventListener("input", function () {
                ToWordPress();
            });

            // イベントリスナーでイベント「change」を登録
            input_name.addEventListener("change", function () {
                ToWordPress();
            });
        });
    </script>

</body>

</html>